.formWrapper {
    background-color: #5f8d4e76;
    box-shadow: 10px 10px 15px -3px #5f8d4e76;
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    padding: 2rem 3rem;
    text-align: center;
}

.formWrapper input, .formWrapper textarea {
    display: block;
    margin: 0.3rem auto 1rem;
    border-radius: 5px;
    color: white;
    background-color: #5F8D4E;
}

.formWrapper textarea, .formWrapper button {
    width: 90%;
}

.formWrapper button {
    display: block;
    margin: 0 auto;
    padding: 0.4rem;
    background-color: #FFB30B;
    border: none;
    border-radius: 15px;
    color: #5F8D4E;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-family: "Hanalei", cursive;
}

.formWrapper button:hover {
    color: white;
}

/* #FFB30B
#5E4026
#5f8d4e76
#5F8D4E
 */