.authForm {
	display: flex;
	justify-content: center;
	width: 35%;
	max-width: 650px;
	margin: 3rem auto;
	padding: 2rem 1rem;

    background-image: url("../assets/images/faucon.jpg");
	background-position: center;
	background-size: cover;
	box-shadow: 5px 5px 5px #5e4026a3;
	border-radius: 20px;
}

.authForm h2 {
	color: #FFB30B;
	margin: 0 0 1rem;
}

.authForm input,
	.authForm input::placeholder,
		.authForm .button,
			.authForm p,
				.authForm .link a {
	color: white;
}

.authForm input {
    display: block;
	margin: 1rem auto;
	width: 100%;
	border: none;
	border-radius: 20px;
	background-color: #ffb20bca;
	outline: none;
    padding: 0.5rem;
	max-width: auto;
}

.authForm .formInput input::placeholder {
    font-style: italic;
}

.authForm .formBtn {
	width: 100%;
}

.formBtn .button {
	width: 100%;
	margin: 2rem auto;
	padding: 0.5rem 1rem;
	background-color: #ffb20b;
	border: solid 1px #ffb20b;
	border-radius: 15px;
	cursor: pointer;

	box-shadow: 3px 3px 8px 2px rgba(255, 255, 255, 0.71);
	text-transform: uppercase;
    font: 400 1.2rem "Hanalei", cursive;
}

:hover {
  transition: 0.3s ease-out;
}

.button:hover {
	background-color: #ffb20ba9;
}

.authForm p {
    text-align: center;
}

.authForm .link a {
	font-weight: 600;
}

.link a:hover {
    color: #FFB30B;
}



@media screen and (max-width: 1000px) {
	.authForm {
		width: 50%;
	}
	.authForm .formBtn {
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 700px) {
	.authForm {
		width: 60%;
	}
	.authForm .formInput {
		width: 70%;
		margin: 0 auto;
	}
	.authForm .formBtn {
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.authForm h2 {
		font-size: 1.5rem;
	}
	.authForm .formInput {
		width: 60%;
		margin: 0 auto;
	}
	.authForm .formBtn {
		width: 70%;
		margin: 0 auto;
	}
	.authForm .formBtn .button {
		font-size: 0.8rem;
	}
}